<a class="relative hit-img" href="{{hit.url}}">
    <div class="card-stamp bg-charcoal text-white">
      <span class="font-size-smallest push-quarter-right">{{hit.duration}}</span>
      <svg class="icon" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#media-article"></use>
      </svg>
    </div>
    <img class="img-responsive" src="{{hit.image}}" />
  </a>
  
  <div class="hit-text">
    <ais-highlight attribute="title" [hit]="hit" class="block font-size-large text-gray-dark push-half-bottom" style="line-height: 1;">
    </ais-highlight>
    <p *ngIf="hit.description" class="font-size-smaller push-quarter-bottom">
      {{hit.description.substr(0, 180)}}
      <span *ngIf="hit.description.length > 180" style="margin-left: -3px;">...</span>
    </p>
  </div>
  
  <div class="hit-meta">
    <p class="font-size-smaller flush">
      <span class="hit-author">{{hit.author}}</span>
      <span class="hit-date">{{hit.date}}</span>
    </p>
  </div>
  