<a class="relative hit-img" href="{{hit.url}}">
  <div class="card-stamp bg-charcoal text-white">
    <span class="font-size-smallest push-quarter-right">{{hit.duration}}</span>
    <svg class="icon" viewBox="0 0 256 256">
      <use xlink:href="/assets/svgs/icons.svg#media-article"></use>
    </svg>
  </div>
  <img class="img-responsive" src="{{hit.image}}" />
</a>

<app-hit-text [hit]="hit"></app-hit-text>

<div class="hit-meta">
  <p class="font-size-smaller flush">
    <span class="hit-author">{{hit.author}}</span>
    <span class="hit-date">{{hit.date}}</span>
  </p>
</div>
