// 🛠 FIXME
.ais-RefinementList {
  // 30px is referring to container padding
  width: calc(100vw - 30px);
  @media (min-width: 991px) {
    width: 100%;
  }
}

// custom refinement list styling
.ais-RefinementList-list {
  display: flex;
  margin-bottom: 1rem;
  padding: .5rem 0;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;

  // hide checkbox
  .ais-RefinementList-count {
    visibility: hidden;
    display: none;
  }

  .ais-RefinementList-label {
    display: inline-flex;
  }

  .ais-RefinementList-labelText {
    margin-right: .75rem;
    font-size: 1rem;
    text-transform: capitalize;

    // for some weird reason InstantSearch makes their refinementlist
    // have the same highlight class as actual highlighted stuff
    .ais-Highlight {
      padding-left: .25rem;
      color: #979797;
      font-size: .875rem;
      font-weight: 300;
    }
  }
}
