// fix mobile overflow bug
.ais-RefinementList {
  width: 100%;
  @media (max-width: 480px) {
    width: 90vw;
    max-width: 368px;
  }
}


// custom refinement list styling
.ais-RefinementList-list {
  display: flex;
  margin-bottom: 1rem;
  padding: .5rem 0;
  border-bottom: 1px solid #ddd;
  overflow-x: scroll;

  // hide checkbox
  .ais-RefinementList-count {
    visibility: hidden;
    display: none;
  }

  .ais-RefinementList-label {
    display: inline-flex;
  }

  .ais-RefinementList-labelText {
    margin-right: .5rem;
    font-size: 1rem;
    text-transform: capitalize;
  }
}
