<ng-container *ngIf="results.query !== ''">
  <!-- Hit counter -->
  <p class="font-size-small text-gray-light" *ngIf="hits.length > 1">
    <span *ngIf="hits.length == results.hitsPerPage && hits.length !== results.nbHits">
      showing
    </span>
    {{hits.length}}
    <span *ngIf="hits.length == results.hitsPerPage && hits.length !== results.nbHits">of {{results.nbHits}} </span>
    results
  </p>

  <!-- Hit template -->
  <ng-container *ngFor="let hit of hits">
    <app-hit *ngIf="hit.contentType !== 'search_widget'" [hit]="hit" class="hit hit-{{hit.contentType}}"></app-hit>
    <app-hit-widget *ngIf="hit.contentType == 'search_widget'" [hit]="hit" class="hit hit-widget overlay-card"></app-hit-widget>
  </ng-container>
  <!-- Show more button template -->
  <div *ngIf="hits.length < results.nbHits" class="hits-show-more-container">
    <button class="btn btn-primary btn-outline" (click)="refine($event)">
      Show more
    </button>
  </div>
</ng-container>
