// fixes a weird mobile overflowing issue
.search-panel__results {
  max-width: 100%;
}

.searchbox {
}

input.ais-SearchBox-input {
  border: 0 !important;
  padding: 1rem;
  padding-left: 2.5rem;
  background-color: #ffffff;
  border-radius: 0;
  color: #4D4D4D;
  transition: .25s all ease;

  &:focus {
    background-color: #efefef;
  }

  &::placeholder {
    color: #979797;
  }
}

.ais-SearchBox-submit {
  left: 1rem;
}

// x to close search
.ais-SearchBox-reset {
  right: 1rem;
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  svg {
    stroke: #979797;
  }
}
