<ng-container *ngIf="hit.image">
  <a class="relative hit-img" href="{{hit.url}}">
    <img class="img-responsive" src="{{hit.image}}" />
  </a>
</ng-container>

<div class="hit-text">
  <ais-highlight attribute="title" [hit]="hit" class="block font-size-large text-gray-dark push-half-bottom" style="line-height: 1;">
  </ais-highlight>
  <p *ngIf="hit.description" class="font-size-smaller push-quarter-bottom">
    {{hit.description.substr(0, 180)}}
    <span *ngIf="hit.description.length > 180" style="margin-left: -3px;">...</span>
  </p>
  <a class="hit-url font-size-smaller" href="hit.url">{{hit.url}}</a>
</div>

<div class="hit-meta">
  <p class="font-size-smaller flush">
    {{hit.date}}
  </p>
</div>
