@import "~crds-styles/assets/stylesheets/variables";

.ais-Menu-count {
  background-color: transparent;
  color: $cr-gray-light;
  font-weight: 300;
}

.ais-Menu-link {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
}


.ais-Menu-label {
  font-size: 0.875rem;
  font-weight: 300;
  color: $cr-gray-light;
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
  }
}

li.ais-menu-item {
    border-left: 0.1875rem solid transparent;
    margin-bottom: 0.25rem;

  &.ais-Menu-item--selected {
    font-weight: initial;
    border-left: 0.1875rem solid $cr-orange;

    a span{
      color: $cr-gray;
    }

  }

  &:hover:not(.ais-Menu-item--selected){
    border-left: 0.1875rem solid $cr-gray-lighter;
  }
}
