<div class="crds-styles push-ends">
   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <ais-instantsearch [config]="config">
          <div class="search-panel">
            <div class="search-panel__results">
              <app-search-input></app-search-input>
              <ais-hits>
                <ng-template let-hits="hits" let-results="results">
                  <app-suggested [results]="results"></app-suggested>
                  <app-tab-filter [hits]="hits" [results]="results"></app-tab-filter>
                  <app-no-results [hits]="hits" [results]="results"></app-no-results>
                  <app-hits [hits]="hits" [results]="results"></app-hits>
                </ng-template>
              </ais-hits>
            </div>
          </div>
        </ais-instantsearch>
      </div>
    </div>
  </div>
</div>
