.search-panel {
    display: flex;
    padding: 50px 30px;

    @media screen and (max-width: 770px){
      padding: 50px 0px;
    }
  }

.mobile-filters{
  display: none;

  @media screen and (max-width: 770px){
    display: block;
  }

}

.search-filters__container{

  @media screen and (max-width: 770px){
    display: none;
  }
}

.search-filters__container{
  padding-right: 10px;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}
