<div class="crds-styles">
  <button data-toggle="modal" data-target="#searchModal" class="btn btn-search">
    <svg class="icon icon-1 search-icon" viewBox="0 0 256 256">
      <use xlink:href="/assets/svgs/icons.svg#search"></use>
    </svg>
  </button>

  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header hidden-lg hidden-md">
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="push-ends push-sides">
              <app-search [routingEnabled]="false"></app-search>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
