<ng-container *ngIf="hit.image">
  <a class="relative hit-img" href="{{ hit.url }}">
    <img class="img-responsive" src="{{ hit.image }}" />
  </a>
</ng-container>

<div class="hit-text">
  <a class="hit-title" href="{{hit.url}}">
    <ais-highlight attribute="title" [hit]="hit">
    </ais-highlight>
  </a>
  <p *ngIf="hit.serviceTimes" class="font-size-smaller">
    <span class="control-label block">Service Times</span>
    {{ hit.serviceTimes }}
  </p>
</div>

<div class="hit-meta">
  <a href="{{ hit.mapUrl }}" target="_blank" class="font-size-smaller flush">
    <!-- Get Directions -->
    Get Directions
  </a>
</div>
