<!-- Styled Image Widget -->
<ng-container *ngIf="hit.image; else htmlOnly">
  <div class="bg-overlay"></div>
  <div class="hit-widget-image" style="display: block; position: static;">
    <img [attr.ix-src]="hit.image + '?auto=format,compress&fit=crop'"
      class="img-responsive" alt="{{hit.title}}">
    <div class="hit-widget-content" [innerHTML]="hit.description"></div>
  </div>
</ng-container>

<!-- Blank HTML Widget -->
<ng-template #htmlOnly>
  <div data-automation-id="hit-widget-description" [innerHTML]="hit.description"></div>
</ng-template>
