@import "~crds-styles/assets/stylesheets/variables";

.ais-Menu {

  .ais-Menu-count {
    background-color: transparent;
    color: $cr-gray-light;
  }

  .ais-Menu-item {
    margin-right: 1.5rem;
    padding-bottom: 0.75rem;

    &.ais-Menu-item--selected {
      font-weight: initial;
      border-left: 3px solid $cr-orange;

      .ais-Menu-link .ais-Menu-label .ais-Menu-count {
        color: $cr-black;
      }
    }
  }
  .ais-Menu-link {
    display: flex;
    justify-content: space-between;
  }

  .ais-Menu-link:hover {
    text-decoration: none;
    color: $cr-black;
    background-color: transparent !important;
  }

  .ais-Menu-label {
    font-size: 14px;
    font-weight: 300;
    color: $cr-gray-light;
    text-transform: capitalize;
  }

}

.filter-label{
  margin-bottom: 9px;
  font-size: 13px;
}

.ais-Menu-list {
  margin-bottom: 40px;
}
