<div class="filters__container">
  <div
    class="filter-label__container"
    [ngClass]="{ 'expanded': state.filterByisExpanded == true }"
    (click)="handleClick()">
    <div class="filter-label font-family-base-bold text-gray-dark text-uppercase">Filter By</div>
    <crds-icon name="chevron-up-thin" size="12" color="gray"></crds-icon>
  </div>
  <ul
    class="ais-Menu-list"
    [ngClass]="{ 'expanded': state.filterByisExpanded == true }"
    >
    <li
      class="ais-menu-item"
      [ngClass]="{ 'ais-Menu-item--selected': state.currentRefinement == option.value }"
      *ngFor="let option of state.items"
    >
      <a class="ais-Menu-link">
        <span (click)="handleSelection($event, option.value)" class="ais-Menu-label">{{
          option.label
        }}</span>
      </a>
    </li>
  </ul>
</div>
