@import "~crds-styles/assets/stylesheets/variables";

.ais-Menu {

  .ais-Menu-count {
    background-color: transparent;
    color: $cr-gray-light;
    font-weight: 300;
  }

  .ais-Menu-item {
    margin-right: 1.5rem;
    margin-bottom: 0.25rem;
    padding: 0.25rem 0.75rem;
    border-left: 0.1875rem solid transparent;

    &:hover{
      border-left: 0.1875rem solid $cr-gray-lighter;
    }

    &.ais-Menu-item--selected {
      font-weight: initial;
      border-left: 0.1875rem solid $cr-orange;

      .ais-Menu-link .ais-Menu-label .ais-Menu-count {
        color: $cr-black;
      }

      a span{
        color: $cr-gray;
      }
    }
  }
  .ais-Menu-link {
    display: flex;
    justify-content: space-between;
  }

  .ais-Menu-link:hover {
    text-decoration: none;
    color: $cr-black;
    background-color: transparent !important;
  }

  .ais-Menu-label {
    font-size: 0.875rem;
    font-weight: 300;
    color: $cr-gray-light;
    text-transform: capitalize;
  }

}

.filter-label{
  margin-bottom: 9px;
  font-size: 13px;
}

.ais-Menu-list {
  margin-bottom: 40px;
}
