.suggested-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  color: #737373;

  .search-icon {
    margin-right: .5rem;
  }
}

.search-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem; 
  border-radius: 50%;
  background-color: #F4F4F4;

  svg {
    width: 40%;
  }
}
