// global styles
$bootstrap-sass-asset-helper: false;
$icon-font-path: '~/bootstrap-sass/assets/fonts/bootstrap';
$icon-font-name: 'glyphicons-halflings-regular';
$cr-path-to-icons-sprite: '/crds-styles/assets/svgs/';
//@import '~crds-styles/assets/stylesheets/crds-styles';

// component imports
@import '../../app.component';
@import '../search-input/search-input.component';
@import '../hits/hits.component';
@import '../hit/hit.component';
@import '../hit-widget/hit-widget.component';
@import '../hit-text/hit-text.component';
@import '../tab-filter/tab-filter.component';
@import '~angular-instantsearch/bundles/instantsearch.min.css';
@import '~angular-instantsearch/bundles/instantsearch-theme-algolia.min.css';

* {
  box-sizing: border-box;
}
