.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-RefinementList-item {
  .ais-RefinementList-checkbox {
    margin-right: .5rem;
  }
  .ais-RefinementList-labelText span {
    margin-right: .5rem;
    font-size: 14px;
    font-weight: 300;
    color: #737377;
  }
}
