<ais-instantsearch [config]="config">
  <app-search-header></app-search-header>

  <div class="search-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="search-filters__container col-md-3">
          <ais-stats>
            <ng-template let-state="state">
              <div [hidden]="state.nbHits === 0 || !state.query">
                <app-sort-by></app-sort-by>
                <app-tab-filter></app-tab-filter>
              </div>
            </ng-template>
          </ais-stats>
        </div>
        <div
          class="col-md-9"
        >
          <div class="search-panel__results">
            <ais-infinite-hits>
              <ng-template
                let-hits="hits"
                let-results="results"
                let-refine="showMore"
              >
                <app-suggested [results]="results"></app-suggested>
                <app-no-results
                  [hits]="hits"
                  [results]="results"
                ></app-no-results>
                <app-hits
                  [hits]="hits"
                  [results]="results"
                  [refine]="refine"
                ></app-hits>
              </ng-template>
            </ais-infinite-hits>
          </div>
        </div>


    </div>
  </div>
  </div>



</ais-instantsearch>
