<ais-instantsearch [config]="config">
  <div class="search-panel">
    <div class="search-panel__results">
      <app-search-input></app-search-input>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <ais-hits>
              <ng-template let-hits="hits" let-results="results">
                <app-nav-tabs [hits]="hits" [results]="results"></app-nav-tabs>
                <app-hits [hits]="hits" [results]="results"></app-hits>
              </ng-template>
            </ais-hits>
          </div>
          <!-- <div class="pagination">
                  <ais-pagination></ais-pagination>
                </div> -->
        </div>
      </div>
    </div>
  </div>
</ais-instantsearch>
