<<<<<<< HEAD
// global styles
$bootstrap-sass-asset-helper: false;
$icon-font-path: '~/bootstrap-sass/assets/fonts/bootstrap';
$icon-font-name: 'glyphicons-halflings-regular';
$cr-path-to-icons-sprite: '/crds-styles/assets/svgs/';
@import '~crds-styles/assets/stylesheets/crds-styles';

// component imports
@import './app/app.component';
@import './app/components/search-input/search-input.component';
@import './app/components/hits/hits.component';
@import './app/components/hit/hit.component';
@import './app/components/tab-filter/tab-filter.component';

* {
  box-sizing: border-box;
}
=======
// global styles
$bootstrap-sass-asset-helper: false;
$icon-font-path: '~/bootstrap-sass/assets/fonts/bootstrap';
$icon-font-name: 'glyphicons-halflings-regular';
$cr-path-to-icons-sprite: '/crds-styles/assets/svgs/';
@import '~crds-styles/assets/stylesheets/crds-styles';

// component imports
@import './app/app.component';
@import './app/components/search-input/search-input.component';
@import './app/components/hits/hits.component';
@import './app/components/hit/hit.component';
@import './app/components/hit-text/hit-text.component';
@import './app/components/tab-filter/tab-filter.component';

* {
  box-sizing: border-box;
}

// prevent jumpy loading
.crds-shared-header {
  min-height: 64px;
}
>>>>>>> development
