<a class="relative hit-img" href="{{hit.url}}">
  <div class="card-stamp bg-charcoal text-white">
    <span class="font-size-smallest push-quarter-right">{{hit.duration}}</span>
    <svg class="icon" viewBox="0 0 256 256">
      <use xlink:href="/assets/svgs/icons.svg#media-video"></use>
    </svg>
  </div>
  <img class="img-responsive" src="{{hit.image}}" />
</a>

<div class="hit-text">
  <a class="hit-title" href="{{hit.url}}">
    <ais-highlight attribute="title" [hit]="hit">
    </ais-highlight>
  </a>
  <p *ngIf="hit.description" class="font-size-smaller push-quarter-bottom">
    {{hit.description.substr(0, 180)}}
    <span *ngIf="hit.description.length > 180" style="margin-left: -3px;">...</span>
  </p>

</div>

<div class="hit-meta">
  <p class="font-size-smaller flush">
    {{hit.date}}
  </p>
</div>
